.success{
    border: 2px solid var(--success-bc);
}
.success:hover{
    background: var(--success-bc);
}

.info{
    border: 2px solid var(--info-bc);
}
.info:hover{
    background: var(--info-bc);
}

.warning{
    border: 2px solid var(--warning-bc);
}
.warning:hover{
    background: var(--warning-bc);
}

.danger{
    border: 2px solid var(--danger-bc);
}
.danger:hover{
    background: var(--danger-h);
}

.default{
    border: 2px solid var(--default-bc)
}
.default:hover{
    background: var(--default-h);
    color: black !important;
}