.icons{
    justify-content: space-around;
}

.vertical .icon-bar{
    margin-top: 32px;
}

.vertical h1{
    margin-top: 32px;
}

.horizontal .icon-bar{
    margin-top: 32px;
}

.horizontal h1{
    margin-top: 32px;
}