.nav-bar{
    background: var(--bg-main);
    padding: 14px 16px;
}

.nav-bar a{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}

.nav-bar a:hover{
    background: var(--bg-hover);
}

.nav-bar a:active{
    background: var(--bg-active);
    color: white;
}